.signIn{
    border: 2px solid rgba(32, 31, 31, 0.56);
    display: flex !important; 
    flex-direction: column !important;
    align-items: center;
    justify-content: space-evenly;
    height: 35rem;
    border-radius: 25px; 
    box-shadow: 11px 13px 4px rgba(0, 0, 0, 0.2);
}
.input_field{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 90%;
    padding: 15px;
    height: 30%;
}

.third_party_signin{
    display: flex !important;
    justify-content: space-evenly;
    align-items: center;
    width: 90%;
}

.signButton{
    width: 90%;
    border-radius: 10px !important ;
}

.thirdSection{
    display: flex !important;
    justify-content: space-evenly;
    margin-top: 15px;
    margin-bottom: 15px;
}