.view{
    border: 2px solid rgb(11, 11, 12);
    height: 90vh;
    display: flex !important;
    flex-direction: column;

}

.test{
    border: 2px solid black;
}

.search-filter{
    display: flex !important;
    justify-content: space-between;
    margin:10px;
    padding: 10px;
}

.list{
    height: 80vh;
    overflow: scroll;
}

.search{
    background-color: white;
    display: flex !important;
    align-items: center;
}

.filter{
    background-color: white;
    width: 10%;
}

.searchButton{
    height: 100%;
}