/*  import google fonts */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

* {
    margin: 0;
    padding: 1px;
    outline: none;
    border: none;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}


.container {
    display: flex;
    width: 100%;
    margin: auto;
}


/* Main Section */
.main {
    width: 100%;
}

.main-top {
    width: 100%;
    background: #030303;
    padding: 10px;
    text-align: center;
    font-size: 18px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: rgb(252, 252, 252);
}

.main-body {
    padding-left: 10%;
    height: 100vh;
    background-image: url('dashBG.jpg') ;
}

h1 {
    margin: 20px 10px;
}

.search_bar {
    display: flex;
    padding: 10px;
    justify-content: space-between;
}

.search_bar input {
    width: 50%;
    padding: 10px;
    border: 1px solid rgb(190, 190, 190);
}

.search_bar input:focus {
    border: 1px solid blueviolet;
}

.search_bar select {
    border: 1px solid rgb(190, 190, 190);
    padding: 10px;
    margin-left: 2rem;
}

.search_bar .filter {
    width: 300px;
}



.job_card {
    width: 80%;
    padding: 15px;
    cursor: pointer;
    display: flex;
    border-radius: 10px;
    background: #fff;
    margin-bottom: 15px;
    justify-content: space-between;
    border: 2px solid rgb(190, 190, 190);
    box-shadow: 0 20px 30px rgba(0, 0, 0, 0.1);
}

.job_details {
    display: flex;
}

.job_details {
    display: flex;
    justify-content: center;
    align-items: center;
}

.job_details i {
    width: 70px;
    font-size: 3rem;
    margin-left: 1rem;
    padding: 10px;
    color: rgb(82, 22, 138);
    background: rgb(216, 205, 226);
}

.job_details .text {
    margin-left: 2.3rem;
}

.job_details .text p {
    color: rgb(116, 112, 112);
}

.job_salary {
    text-align: right;
    color: rgb(54, 54, 54);
}

.job_card:active {
    border: 2px solid blueviolet;
    transition: 0.4s;
}
.tradeDate{
    display: block;
    align:space-between;
}